body {
  font-family: 'Poppins', sans-serif; /* Changed font to Poppins */
  background-color: #f9f9f9; /* Lightened background color */
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #333; /* Changed link color */
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #007BFF; /* Highlight link color on hover */
}

main {
  max-width: 800px;
  margin: 20px auto; /* Added margin for better spacing */
  padding: 20px;
}

h2 {
  color: #007BFF; /* Adjusted heading color */
}

p {
  font-size: 16px; /* Slightly reduced paragraph font size */
  line-height: 1.6; /* Improved line height for better readability */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person {
  text-align: center;
  margin-bottom: 20px;
}

.person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#details-box {
  padding: 1rem;
  border-radius: 8px;
  font-size: 18px; /* Adjusted font size */
  position: fixed;
  color: white;
  font-family: "Poppins";
  background-color: #333; /* Darkened background color */
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity 0.4s ease;
  z-index: 1;
}
